.seredina{ text-align: center;}
.green{ background-color: green;}
.colorw{color: white;
}
.grey{background-color: rgba(170, 165, 165, 0.733);}
.callap{border-collapse: collapse;}
th,td{border: 1px solid black;}
.greyblack{ background-color: rgb(66, 65, 65); color: white;}

.b-1{border-radius: 15px solid;}